button.btn.btn-secondary {
    margin-left: 10px;
}

/*Sidebar icon*/
.sidebar .nav .nav-item .nav-link i.menu-icon {
    font-size: 1.125rem;
    line-height: 1;
    margin-left: auto;
    color: #3ba135;
}

button.login-btn.mt-2.btn.btn-primary {
    width: 100%;
}

.card.bg-white.my-5.mx-auto {
    border-radius: 1rem;
    max-width: 350px;
}

img.logo-img-login {
    max-width: 100px;
}

.navbar-brand-wrapper.d-flex.align-items-center {
    background-color: #fff;
    justify-content: center;
}

.table thead th,
.table tbody td {
    padding: 15px;
}

.dash-ico {
    color: #0b5ed7 !important;
    background: rgba(11, 94, 215, 0.1) !important;
    border: none !important;
    height: 50px;
    width: 50px;
}

.v-top th,
.v-top td {
    vertical-align: top !important;
}

th.text-right.font-weight-bold,
td.text-right.font-weight-bold {
    color: #e558ef;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.col {
    flex: 1;
    padding: 0 10px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    .row {
        flex-direction: column;
    }
}


.profile {
    display: flex;
    align-items: center;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}

.profile-img img {
    width: 76%;
    height: 76%;
    /* object-fit: cover; */
    margin-top: 20px;
    border-radius: 8px;
    margin-left: 12px;
}

.profile-info {
    font-size: 1.2rem;
}

@media only screen and (max-width: 600px) {
    .profile-info {
        margin-left: 10px;
    }

    .profile {
        display: flex;
        align-items: center;
        border-bottom: 1px solid;
    }

    .col.bankdetails {
        border-bottom: 1px solid;
        padding-bottom: 10px;
    }

    .col.Subject {
        border-bottom: 1px solid;
        padding-bottom: 10px;
    }

    .profile-img img {
        margin-top: 20px;
        width: 80px;
        height: 80px;
        border-radius: 7px;
    }

    .profile-img {
        margin-right: 0;
        margin-bottom: 10px;
    }
}


/* 
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  label {
    display: inline-block;
    margin-right: 10px;
  }
  
  #search-input, #date-picker {
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px;
    box-sizing: border-box;
    flex-grow: 1;
    width: 100%;
  }
  
  #search-button {
    height: 40px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    margin: 10px;
    cursor: pointer;
  }
  
  @media only screen and (min-width: 600px) {
    #search-input, #date-picker {
      width: auto;
    }
  } */


.table thead th {
    border-top: 0;
    border-bottom-width: 1px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    
     /* font-weight: initial; */
}

  /* logo css */
@media (max-width: 991px) {
    .navbar .navbar-brand-wrapper .navbar-brand.brand-logo {
      display: inline-block;
    }
  }
  
  @media (max-width: 480px) {
    .navbar .navbar-brand-wrapper {
      width: 100px;
    }
  }


